In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error,accuracy_score

In [2]:
data = pd.read_csv("../CSV/GPA_data.CSV")
data.head()

,ID,Gender,Age,Extra_Curricular,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,8867,Male,22,Societies,10,1318792,154,1.76
1,1316,Female,24,Societies,9,874657,181,3.88
2,9443,Male,22,Societies,15,1098331,94,1.73
3,1829,Female,25,No,9,1680585,8,1.29
4,1989,Male,26,No,7,1361560,122,3.19

In [3]:
dummy = pd.get_dummies(data[["Gender","Extra_Curricular"]], dtype=int)
dummy

,Gender_Female,Gender_Male,Extra_Curricular_No,Extra_Curricular_Societies,Extra_Curricular_Sports
0,0,1,0,1,0
1,1,0,0,1,0
2,0,1,0,1,0
3,1,0,1,0,0
4,0,1,1,0,0
...,...,...,...,...,...
995,1,0,1,0,0
996,0,1,1,0,0
997,0,1,0,0,1
998,0,1,0,1,0
999,0,1,1,0,0

In [4]:
dummy.drop(['Gender_Female','Extra_Curricular_No'], axis=1,inplace=True)
dummy

     Gender_Male  Extra_Curricular_Societies  Extra_Curricular_Sports
0              1                           1                        0
1              0                           1                        0
2              1                           1                        0
3              0                           0                        0
4              1                           0                        0
..           ...                         ...                      ...
995            0                           0                        0
996            1                           0                        0
997            1                           0                        1
998            1                           1                        0
999            1                           0                        0

[1000 rows x 3 columns]

In [5]:
data.drop(['Gender','Extra_Curricular','ID'],axis=1,inplace=True)
#here id should also removed because ID is an unnecessary data coloumn
data

     Age  Study_Hours  Annual_Income  Distance_From_Home   GPA
0     22           10        1318792                 154  1.76
1     24            9         874657                 181  3.88
2     22           15        1098331                  94  1.73
3     25            9        1680585                   8  1.29
4     26            7        1361560                 122  3.19
..   ...          ...            ...                 ...   ...
995   22            5        1675219                  27  2.32
996   24            8         947439                 125  2.70
997   26            6        1912975                  67  1.36
998   22           12         341543                  86  1.88
999   23           12         975142                  87  3.36

[1000 rows x 5 columns]

In [6]:
data_new = pd.concat([dummy,data], axis=1)
data_new

,Gender_Male,Extra_Curricular_Societies,Extra_Curricular_Sports,Age,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,1,1,0,22,10,1318792,154,1.76
1,0,1,0,24,9,874657,181,3.88
2,1,1,0,22,15,1098331,94,1.73
3,0,0,0,25,9,1680585,8,1.29
4,1,0,0,26,7,1361560,122,3.19
...,...,...,...,...,...,...,...,...
995,0,0,0,22,5,1675219,27,2.32
996,1,0,0,24,8,947439,125,2.70
997,1,0,1,26,6,1912975,67,1.36
998,1,1,0,22,12,341543,86,1.88
999,1,0,0,23,12,975142,87,3.36

In [7]:
x = data_new.iloc[:, :-1]
y = data_new.iloc[:, -1]

In [8]:
x

,Gender_Male,Extra_Curricular_Societies,Extra_Curricular_Sports,Age,Study_Hours,Annual_Income,Distance_From_Home
0,1,1,0,22,10,1318792,154
1,0,1,0,24,9,874657,181
2,1,1,0,22,15,1098331,94
3,0,0,0,25,9,1680585,8
4,1,0,0,26,7,1361560,122
...,...,...,...,...,...,...,...
995,0,0,0,22,5,1675219,27
996,1,0,0,24,8,947439,125
997,1,0,1,26,6,1912975,67
998,1,1,0,22,12,341543,86
999,1,0,0,23,12,975142,87

In [9]:
y

0      1.76
1      3.88
2      1.73
3      1.29
4      3.19
       ...
995    2.32
996    2.70
997    1.36
998    1.88
999    3.36
Name: GPA, Length: 1000, dtype: float64

In [10]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=0)

In [11]:
model = LinearRegression()

In [12]:
model.fit(x_train,y_train)

LinearRegression()

In [13]:
y_pred = model.predict(x_test)
y_pred

array([2.45859544, 2.48189844, 2.52609814, 2.44755148, 2.43441844,
       2.4441942 , 2.59304194, 2.5650934 , 2.45743111, 2.54705058,
       2.41369892, 2.48703529, 2.54110891, 2.55756711, 2.40964999,
       2.6464932 , 2.55155379, 2.49226051, 2.61246241, 2.58476053,
       2.48632814, 2.62401499, 2.40425402, 2.54747027, 2.52877333,
       2.53210703, 2.58689872, 2.42520324, 2.5997469 , 2.51215648,
       2.55717346, 2.57209611, 2.41712661, 2.51984043, 2.48485112,
       2.53237746, 2.47437727, 2.52478684, 2.62616758, 2.53023872,
       2.60300406, 2.46409328, 2.44288531, 2.52653268, 2.54175963,
       2.43226457, 2.38444236, 2.54421868, 2.39457219, 2.45051988,
       2.45748266, 2.54048337, 2.39321516, 2.45221297, 2.54202793,
       2.60474351, 2.37836383, 2.60193504, 2.64836809, 2.47970387,
       2.60829197, 2.43343052, 2.46820314, 2.43089338, 2.48106334,
       2.54937679, 2.5677143 , 2.50048765, 2.50381686, 2.59987949,
       2.54103206, 2.5374847 , 2.54089681, 2.41464698, 2.54079411,
       2.60136136, 2.58701427, 2.50188711, 2.59728282, 2.4672719 ,
       2.53809483, 2.50665735, 2.44618812, 2.34054697, 2.54204731,
       2.54688734, 2.49175261, 2.66308925, 2.59376461, 2.66130113,
       2.60400039, 2.45920071, 2.36456041, 2.54528435, 2.63986162,
       2.31891633, 2.5787834 , 2.5666557 , 2.40567796, 2.5008441 ,
       2.481787  , 2.51868783, 2.43329384, 2.58977924, 2.49056161,
       2.60383761, 2.499032  , 2.4853745 , 2.54388509, 2.47733176,
       2.49114757, 2.38223026, 2.51596327, 2.42440437, 2.56481729,
       2.39468679, 2.48287643, 2.51736582, 2.61375317, 2.44222753,
       2.52101622, 2.62262857, 2.63918805, 2.59141919, 2.64772798,
       2.30829077, 2.50097541, 2.54933561, 2.47348203, 2.50918891,
       2.4073995 , 2.47987012, 2.57268821, 2.62700939, 2.58081042,
       2.56324818, 2.58427632, 2.48102367, 2.67301948, 2.51157269,
       2.60458443, 2.52666049, 2.46548031, 2.54493519, 2.5847534 ,
       2.46714343, 2.56134251, 2.48755684, 2.59442144, 2.55461897,
       2.55971864, 2.6524473 , 2.46769757, 2.50199086, 2.54321095,
       2.4973821 , 2.54550596, 2.69062264, 2.50617769, 2.55408095,
       2.39958683, 2.5201341 , 2.47043021, 2.36713463, 2.49504539,
       2.44100823, 2.46810816, 2.55915489, 2.41313511, 2.47193094,
       2.5873315 , 2.55469132, 2.58778578, 2.51876355, 2.57776681,
       2.50043541, 2.58094891, 2.54621206, 2.42191068, 2.4389927 ,
       2.53569525, 2.42255047, 2.50981375, 2.47730557, 2.50644759,
       2.63819692, 2.38061805, 2.52351422, 2.41317229, 2.46905746,
       2.571588  , 2.45670756, 2.53762642, 2.58245465, 2.57824419,
       2.37865128, 2.50737846, 2.42638165, 2.50106814, 2.60196227])

In [19]:
np.mean(y_test)

2.44285

In [21]:
np.mean(y_train)

2.5098000000000003